@import 'foundation/foundation';
@import 'font-awesome/font-awesome';

@include foundation-everything;

#application {
  height: 100vh;
  display: flex;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.navigation {

}

.map {
  flex: 1;
  display: flex;
}
